.experiences_list {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.experiences_list img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    position: relative;
}

.experiences_list button {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

figure {
    overflow: hidden;
    margin: 0;
    position: relative;
}

figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}

figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.slick-slide {
    margin: 0 10px !important;
}

.results {
    margin: 3rem 0 2rem 0;
}

.slick-dots li button:before {
    font-size: 15px;
}

.results .slick-prev:before, .results .slick-next:before {
    color: #888787;
    opacity: 1;
}

.results .slick-next {
    right: 18px;
}

.results .slick-prev {
    right: 58px;
    left: inherit !important;
}

.results .slick-prev, .results .slick-next {
    top: -7%;
}